<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    {% endblock %}
    {% block javascripts %}
        <script>
            {% if token is defined %}

            const token = "{{ token }}";
            localStorage.setItem('JWT_token', token);
            {% else %}
            let token = localStorage.getItem("JWT_token");
            {% endif %}

            let sortOrder = 'asc';

            function markTaskCompleted(checkboxElement) {
                    const taskId = checkboxElement.getAttribute('data-task-id');


                    if (checkboxElement.checked) {
                            let jwtToken = localStorage.getItem("JWT_token");

                            if (!jwtToken) {
                                    alert("JWT token not found!");
                                    return;
                            }

                            fetch(`/api/task/${taskId}`, {
                                    method: 'PATCH',
                                    headers: {
                                            'Authorization': 'Bearer ' + jwtToken,
                                            'Content-Type': 'application/json'
                                    },
                            })
                                    .then(response => response.json())
                                    .then(data => {
                                            if (data.error) {
                                                    showErrorModal(data.error);
                                            } else if (data.message) {
                                                    alert(data.message);
                                            }
                                    })
                                    .catch(error => {
                                            console.error('Error:', error);
                                    });
                    }
            }

            function fetchTasks(status) {
                const taskList = document.getElementById('task-list');
                taskList.innerHTML = '';

                const url = `/api/task-list?status=${status}&sortOrder=${sortOrder}`;
                fetch(url, {
                    method: 'GET',
                    headers: {
                        Authorization: `Bearer ${token}`,
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(task => {
                            const tr = document.createElement('tr');
                            tr.innerHTML = `
                        <td>${task.id}</td>
                        <td>${task.title}</td>
                        <td>${task.status}</td>
                        <td>${task.priority}</td>
                        <td>${task.created}</td>
                        <td>${task.completed}</td>
<td>
            <a href="javascript:void(0);" onclick="editTask(${task.id})"><i class="fas fa-edit"></i></a>
            <a href="javascript:void(0);" onclick="deleteTask(${task.id})"><i class="fas fa-trash-alt"></i></a>
        </td>
<td><input type="checkbox" class="task-checkbox" data-task-id="${task.id}" onchange="markTaskCompleted(this)" title="Mark as complete"></td>
                    `;
                            taskList.appendChild(tr);
                        });
                    })
                    .catch(error => console.error('Error fetching task list:', error));
            }

            function fetchTasksByTitle() {
                const searchInput = document.getElementById('search-input');
                const searchTerm = searchInput.value.trim();

                const taskList = document.getElementById('task-list');
                taskList.innerHTML = '';

                if (searchTerm === '') {
                    fetchTasks('all');
                    return;
                }

                const url = `/api/task-list?search=${searchTerm}&sortOrder=${sortOrder}`;
                fetch(url, {
                    method: 'GET',
                    headers: {
                        Authorization: `Bearer ${token}`,
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(task => {
                            const tr = document.createElement('tr');
                            tr.innerHTML = `
                    <td>${task.id}</td>
                    <td>${task.title}</td>
                    <td>${task.status}</td>
                    <td>${task.priority}</td>
                    <td>${task.created}</td>
                    <td>${task.completed}</td>
<td>
            <a href="javascript:void(0);" onclick="editTask(${task.id})"><i class="fas fa-edit"></i></a>
            <a href="javascript:void(0);" onclick="deleteTask(${task.id})"><i class="fas fa-trash-alt"></i></a>
        </td>
<td><input type="checkbox" class="task-checkbox" data-task-id="${task.id}" onchange="markTaskCompleted(this)" title="Mark as complete"></td>
                `;
                            taskList.appendChild(tr);
                        });
                    })
                    .catch(error => console.error('Error fetching task list:', error));
            }

            function toggleSort(sortField) {
                sortOrder = (sortOrder === 'asc') ? 'desc' : 'asc';

                const taskList = document.getElementById('task-list');
                taskList.innerHTML = '';

                const url = `/api/task-list?sortBy=${sortField}&sortOrder=${sortOrder}`;
                fetch(url, {
                    method: 'GET',
                    headers: {
                        Authorization: `Bearer ${token}`,
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(task => {
                            const tr = document.createElement('tr');
                            tr.innerHTML = `
                        <td>${task.id}</td>
                        <td>${task.title}</td>
                        <td>${task.status}</td>
                        <td>${task.priority}</td>
                        <td>${task.created}</td>
                        <td>${task.completed}</td>
<td>
            <a href="javascript:void(0);" onclick="editTask(${task.id})"><i class="fas fa-edit"></i></a>
            <a href="javascript:void(0);" onclick="deleteTask(${task.id})"><i class="fas fa-trash-alt"></i></a>
        </td>
<td><input type="checkbox" class="task-checkbox" data-task-id="${task.id}" onchange="markTaskCompleted(this)" title="Mark as complete"></td>
                    `;
                            taskList.appendChild(tr);
                        });
                    })
                    .catch(error => console.error('Error fetching task list:', error));
            }
        </script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>